export(BandRatio)
export(CentDist)
export(CentInit)
export(CMat)
export(CMeans)
export(Defuzzify)
export(DOS)
export(ExportKML)
export(ExportRGB)
export(FocalAngle)
export(FocalCalc)
export(FocalSummary)
export(GaussianSmooth)
export(KMeans)
export(LandsatProcessing)
export(MultiBandRatio)
export(Multishade)
export(NDVI)
export(PCA)
export(RasterBrowse)
export(RasterLoad)
export(RasterShell)
export(SpectralProfiler)
export(Standardise)
export(TempClean)
export(WMat)
import(raster)